@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla/static/Karla-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla";
}

body {
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.elements {
  margin: 0 auto;
  max-width: 710px;
  padding: 5px;
  text-align: center;
  align-items: center;
}

header {
  margin-top: 40px;
}

h1 {
  font-size: 56px;
  margin-top: 20px;
}

#text {
  color: gray;
  font-size: 22px;
  margin-top: 20px;
}

.email-box {
  margin: auto;
  margin-top: 70px;
  text-align: center;
  padding: 25px;
  width: 560px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.email-input input {
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 89%);
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 16px;
}

#email::placeholder {
  color: black;
}

.submit {
  margin-top: 20px;
  background-color: hsl(227, 67%, 48%);
  width: 100%;
  height: 50px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.disclaimer {
  margin-top: 18px;
  font-size: 14px;
  color: hsl(215, 10%, 35%);
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

@media (max-width: 600px) {
  body {
    padding: 28px;
  }

  h1 {
    font-size: 32px;
  }

  #text {
    font-size: 17px;
  }

  .email-box {
    width: 100%;
    height: auto;
    padding: 18px;
  }

  .email-input input,
  .submit {
    width: 100%;
    font-size: 14px;
  }

  .disclaimer {
    text-align: left;
    font-size: 12px;
  }
}
